* {
  box-sizing: border-box;
}

#box1 {
  background-color: red;
  height: 100px;
  width: 50%;
  /* width: 100px; */
  display: block;
}

#box2 {
  background-color: green;
  height: 100px;
  width: 50%;
  /* width: 100px; */
  display: block;
}

#box3 {
  background-color: blue;
  height: 100px;
  width: 50%;
  /* width: 100px; */
  display: block;
}

#box4 {
  background-color: yellow;
  height: 100px;
  width: 50%;
  /* width: 100px; */
  display: block;
}
